<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet"  type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet"  type="text/css" href="/css/affiliation.css">
    <link rel="stylesheet"  type="text/css" href="/css/index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/authorPicDetail.js"></script>
</head>
<body>
<div class="container1">
    <div class="top"><!--顶部-->
        <ul class="navlist">
            <li class="site-name">OASIS-作者画像</li>
        </ul>
        <a href="/" id="homepage">首页</a>
    </div>
    <div class="title-container"><!--标题部分-->
        <span><i>Online grAph System for AcdemIcS</i></span>

    </div>
    <div id="return">
        <a href="#" onclick="javascript:history.back(-1);" style="vertical-align: middle">返回</a>
        <img src="/images/return.png" style="vertical-align: middle;height:25px;width:25px;">
    </div>
</div>
<div class="container" style="margin:auto;width:90%;">
    <div class="row" style="margin:auto;">
        <div class="col-md-6" style="background-color: white; height:300px;margin:20px 0px 80px 0px;box-shadow: darkgrey 0px 0px 10px 5px;">
            <div style="text-align: center;padding:40px">
                <h1 id="one"></h1>
                <p>&emsp;</p>
                <h3 id="two"></h3>
                <p id="three"></p>
            </div>
        </div>
        <div class="col-md-1" style="height:300px;">

        </div>
        <div class="col-md-5" style="background-color: white; height:300px;margin:20px 0px 80px 0px;box-shadow: darkgrey 0px 0px 10px 5px;">
            <div style="text-align: left;padding:40px;">
                <h4 id="four"></h4>
                <h4 id="five"></h4>
                <h4 id="six"></h4>
            </div>
        </div>
    </div>
    <div  style="background:white;margin:auto;box-shadow: darkgrey 0px 0px 10px 5px;" >
        <table class="table table-striped">
            <caption>PAPERS</caption>
            <thead>
            <tr>
                <th>Title</th>
                <th>Citations</th>
            </tr>
            </thead>
            <tbody id="seven">

            </tbody>
        </table>
    </div>
</div>
</body>
</html>